<div class="w-50 mx-auto">

  <h2 class="pt-5 ml-3">Users participating</h2>
  <hr>
  <div class="card">
  <div class="card-body">
    {{#each eventDetail.partecipantsEvent}}
    <h6 class="card-subtitle mb-1">{{user}}</h6>
    
{{/each}}
  </div>
</div>
</div>
<h1>Details</h1>
{{#each eventDetail.partecipantsEvent}}
{{user}}
{{/each}}
<div class="w-50 mx-auto">

  <h2 class="pt-5 ml-3">Game rules</h2>
  <hr>
</div>
{{#each eventDetail.event}}
{{description}}
{{/each}}
<div class="w-50 mx-auto">

  <h2 class="pt-5 ml-3">Details</h2>
  <hr>
</div>
{{#each eventDetail}}
{{address}}
{{description}}
{{slot}}
{{formatDateEvents date}}
{{/each}}