<div class="w-50 mx-auto">

  <h2 class="pt-5 ml-3 text-primary">Users participating</h2>
  <hr>
  {{#each eventDetail.partecipantsEvent}}
  <div class="row mx-auto mt-3">
    <h4 class="col-sm mb-1 text-center">{{user}}</h4>
  </div>
  {{/each}}

  {{#if eventDetail.event.isSoldOut}}
  <div class="p-3 mb-2 bg-danger text-white text-center mt-4">BOOKED OUT</div>
  {{else}}
  <div class="text-center mt-5">
  <a href="/join-event/{{eventDetail.event._id}}" class="btn btn-success ml-4">Join</a>
  </div>
  {{/if}}

</div>


<div class="w-50 mx-auto">
  <h2 class="pt-5 ml-3 text-primary">Details</h2>
  <hr>
  <div class="ml-3">
    <p class="font-italic">{{eventDetail.event.address}}</p>
    <p><strong>Description: </strong>{{eventDetail.event.description}}</p>
    <p><strong>Slots: </strong>{{eventDetail.event.slot}}</p>
    <p><strong>Date: </strong>{{formatDateEvents eventDetail.event.date}}</p>
    <p><strong>Host:</strong> {{eventDetail._user.username}}</p>
  </div>
</div>
<div class="w-50 mx-auto">

  <h2 class="pt-5 ml-3 text-primary">Game rules</h2>
  <hr>
  <div class="ml-3 mb-5">
    <h5>{{eventDetail.event._game.name}}</h5>
    <h6>{{ eventDetail.event._game.description}}</h6>
  </div>
</div>