<h1 class="pt-5">Profile</h1>
<p>{{user.username}}</p> <br>

<h2 class="pt-5">Joined Events</h2>
  <hr>
<div class="card" style="width: 100%;">
  {{#each join}}
  <div class="card-body">
    <h5 class="card-title">{{_event._game.name}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{_event.address}}</h6>
    <p class="card-text"><strong>Description:</strong> {{_event.description}}</p>
    <p class="card-text"> <strong>Date:</strong> {{_event.date}}</p>
    <p class="card-text"><strong>Slots:</strong> {{_event.slot}}</p>
    <a href="/cancel-event-join/{{_event._id}}" class="btn btn-danger">Cancel Join</a>
  </div>
  {{/each}}
</div>
<h2 class="pt-5">My Events</h2> 
<hr>
<div class="card" style="width: 100%">
  {{#each event}}
  <div class="card-body">
    <h5 class="card-title">{{_game.name}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{address}}</h6>
    <p class="card-text"><strong>Description:</strong> {{description}}</p>
    <p class="card-text"> <strong>Date:</strong> {{date}}</p>
    <p class="card-text"><strong>Slots:</strong> {{slot}}</p>
    <a href="/cancel-event/{{_id}}" class="btn btn-danger">Cancel Event</a>
  </div>
  {{/each}}
  </div>  