{{#each events}}
<div class="card">
<h1>Location: {{position}} </h1>
<h1>Date: {{date}}</h1>
<h1>Slot: {{slot}}</h1>
<h1>Game: {{_game.name}}</h1>
<h1>Description: {{description}}</h1>
<h1>Host: {{_user.username}}</h1>
</div>

{{/each}}